<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.workordersystem.mapper.AdminMapper">

    <select id="findUserByUserNameAdmin" resultType="com.server.workordersystem.entity.User">
        SELECT *
        FROM user
        WHERE user.username = #{userName} and user.account_type = 2
    </select>

    <insert id="insertNewUser">
        INSERT INTO user(uid, username, password, phone, `account_type`, `latest_login_time`, `latest_login_ip`,
                         `avatar_url`)
        VALUES (#{uid}, #{username}, #{password}, #{phone}, #{accountType}, #{latestLoginTime}, #{latestLoginIp}, #{avatarUrl})
    </insert>
    <update id="updatePassword">
        UPDATE user
        SET user.password = #{newPassword}
        WHERE user.username = #{userName}
    </update>
    <update id="updateUserType">
        UPDATE user SET account_type = #{type} WHERE user.username IN
        <foreach collection="usernames" index="index" item="username" open="(" close=")" separator=",">
            #{username}
        </foreach>
    </update>
    <update id="updateUserLogState">
        UPDATE user SET user.logout = #{logState} WHERE uid IN
        <foreach collection="uids" item="uid" index="index" open="(" close=")" separator=",">
            #{uid}
        </foreach>
    </update>
    <delete id="deleteUsers">
        DELETE FROM user WHERE uid IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findUserByUserName" resultType="com.server.workordersystem.entity.User">
        SELECT *
        FROM user
        WHERE user.username = #{username}
    </select>
    <select id="selectAllUsers" resultType="com.server.workordersystem.dto.UserInfoMsg">
        SELECT uid,`group`,username,`name`,sex,age,phone,email,logout,`avatar_url`,`account_type`
        FROM user
    </select>

    <update id="updateUserAuthorizations">
        <foreach collection="list" item="item" index="index" separator=";" close=";">
            UPDATE user SET `account_type` = #{item.accountType},`group` = #{item.group}
            WHERE `uid` = #{item.uid}
        </foreach>
    </update>

    <select id="selectMentor" resultType="com.server.workordersystem.entity.Group">
        SELECT *
        FROM `group`
        WHERE `gid` = #{group}
    </select>
    <select id="selectUser" resultType="com.server.workordersystem.entity.User">
        SELECT *
        FROM `user`
        WHERE `uid` = #{uid}
    </select>
    <update id="updateMentor">
        UPDATE `group` SET `mentor` = #{mentor}
        WHERE `gid` = #{group};
    </update>
    <update id="updateUserAuthMentor">
        UPDATE `user` SET `account_type` = #{accountType}, `group` = #{group}
        WHERE #{uid} = `uid`;
    </update>
</mapper>
