<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.workordersystem.mapper.BaseQueryMapper">
    <select id="getWorkOrderType" resultType="com.server.workordersystem.entity.WorkOrderType">
        SELECT *
        FROM work_order_type
    </select>
    <select id="getGroup" resultType="com.server.workordersystem.entity.Group">
        SELECT *
        FROM `group`
    </select>
</mapper>
