<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.workordersystem.mapper.LoginMapper">
    <update id="updatePassword">
        UPDATE user
        SET user.password = #{newPassword}
        WHERE user.username = #{userName}
    </update>

    <select id="findUserByUserName" resultType="com.server.workordersystem.entity.User">
        SELECT *
        FROM user
        WHERE user.username = #{userName}
    </select>
</mapper>
