<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.workordersystem.mapper.MaintainerMapper">

    <parameterMap id="map" type="com.server.workordersystem.dto.WorkOrderDto">
        <parameter property="orderId" mode="IN" jdbcType="BIGINT"/>
        <parameter property="orderName" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="creator" mode="IN" jdbcType="BIGINT"/>
        <parameter property="createTime" mode="IN" jdbcType="DATE"/>
        <parameter property="content" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="handleGroup" mode="IN" jdbcType="BIGINT"/>
        <parameter property="type" mode="IN" jdbcType="INTEGER"/>
        <parameter property="cid" mode="IN" jdbcType="BIGINT"/>
        <parameter property="row" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>
    <parameterMap id="solution" type="com.server.workordersystem.dto.SolutionMessage">
        <parameter property="sid" mode="IN" jdbcType="BIGINT"/>
        <parameter property="orderId" mode="IN" jdbcType="BIGINT"/>
        <parameter property="cid" mode="IN" jdbcType="BIGINT"/>
        <parameter property="uid" mode="IN" jdbcType="BIGINT"/>
        <parameter property="advice" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="handleTime" mode="IN" jdbcType="DATE"/>
        <parameter property="handleResult" mode="IN" jdbcType="TINYINT"/>
        <parameter property="row" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>
    <insert id="insertNewWorkOrder" parameterMap="map" statementType="CALLABLE">
        {
            CALL commit_order(
                #{orderId,mode=IN},
                #{orderName,mode=IN},
                #{creator,mode=IN},
                #{createTime,mode=IN},
                #{content,mode=IN},
                #{handleGroup,mode=IN},
                #{type,mode=IN},
                #{cid,mode=IN},
                #{row,mode=OUT,jdbcType=INTEGER}
            )
            }
    </insert>
    <insert id="insertNewCommitLog" parameterMap="map" statementType="CALLABLE">
        CALL recommit_order(
            #{orderId,mode=IN},
            #{orderName,mode=IN},
            #{creator,mode=IN},
            #{createTime,mode=IN},
            #{content,mode=IN},
            #{handleGroup,mode=IN},
            #{type,mode=IN},
            #{cid,mode=IN},
            #{row,mode=OUT,jdbcType=INTEGER}
            )
    </insert>
    <insert id="insertNewOrderFile">
        INSERT INTO work_order_file(fid,url,order_id)
        VALUES
        <foreach collection="files" index="index" item="item" separator=",">
            (#{item.fid},#{item.url},#{item.orderId})
        </foreach>
    </insert>
    <insert id="insertNewCommitFile">
        INSERT INTO commit_file(fid,url,cid)
        VALUES
        <foreach collection="files" index="index" item="item" separator=",">
            (#{item.fid},#{item.url},#{item.cid})
        </foreach>
    </insert>
    <insert id="insertNewSolutionFile">
        INSERT INTO solution_file(fid,url,sid)
        VALUES
        <foreach collection="files" index="index" item="item" separator=",">
            (#{item.fid},#{item.url},#{item.sid})
        </foreach>
    </insert>
    <insert id="insertNewDraft">
        INSERT INTO work_order(order_id,
                               order_name,
                               creator,
                               create_time,
                               content,
                               state,
                               handle_group,
                               type)
        VALUES (#{orderId},
                #{orderName},
                #{creator},
                #{createTime},
                #{content},
                1,
                #{handleGroup},
                #{type})
    </insert>
    <insert id="insertNewSolution" parameterMap="solution" statementType="CALLABLE">
        CALL solute_order(
            #{sid,mode=IN},
            #{orderId,mode=IN},
            #{cid,mode=IN},
            #{uid,mode=IN},
            #{advice,mode=IN},
            #{handleTime,mode=IN},
            #{handleResult,mode=IN},
            #{row,mode=OUT,jdbcType=INTEGER}
        )
    </insert>
    <update id="updateOrderCompletedState">
        UPDATE work_order
        SET completed = #{completed},
            open      = false
        WHERE order_id = #{orderId}
    </update>
    <update id="updateOrderState">
        UPDATE work_order
        SET state = #{state}
        WHERE order_id = #{orderId}
    </update>
    <delete id="deleteOrderFile">
        DELETE
        FROM work_order_file
        WHERE order_id = #{orderId}
    </delete>
    <select id="selectOrders" resultType="com.server.workordersystem.dto.WorkOrder">
        SELECT *
        FROM new_order_msg
        WHERE uid = #{uid}
          AND state != 1
    </select>
    <select id="selectDrafts" resultType="com.server.workordersystem.dto.WorkOrder">
        SELECT *
        FROM new_order_msg
        WHERE uid = #{uid}
          AND state = 1
    </select>
    <select id="getOrderFiles" resultType="java.lang.String">
        SELECT url
        FROM work_order_file
        WHERE order_id = #{orderId}
    </select>
    <select id="getSolutionFiles" resultType="java.lang.String">
        SELECT url
        from solution_file
        WHERE sid = #{sid}
    </select>
    <select id="getCommitFiles" resultType="java.lang.String">
        SELECT url
        from commit_file
        WHERE cid = #{cid}
    </select>
    <select id="selectHandledOrders" resultType="com.server.workordersystem.dto.WorkOrder">
        SELECT *
        FROM new_order_msg
        WHERE handler_id = #{uid}
    </select>
    <select id="selectNotHandledOrders" resultType="com.server.workordersystem.dto.WorkOrder">
        SELECT *
        FROM new_order_msg
        WHERE handler_id = #{uid}
          AND state = 4
    </select>
</mapper>

