<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.workordersystem.mapper.UserMapper">
    <insert id="addContact">
        INSERT INTO contact(username, contact_name, add_time)
        VALUES (#{username}, #{contactName}, #{addTime})
    </insert>
    <update id="updateUserLatestLoginMsg">
        UPDATE user SET latest_login_time = #{latestLoginTime},latest_login_ip = #{latestLoginIp}
        WHERE #{username} = username
    </update>
    <update id="updateUserPhone">
        UPDATE user SET phone = #{phone} WHERE username = #{username}
    </update>
    <delete id="deleteContact">
        DELETE
        FROM contact
        WHERE username = #{username}
          AND contact_name = #{contactName}
    </delete>
    <select id="getContact" resultType="com.server.workordersystem.entity.ContactMsg">
        SELECT *
        FROM contact_msg
        WHERE username = #{username}
    </select>
</mapper>
